<?xml version="1.0"?>
<config>
    <modules>
        <Heb_Customerform>
            <version>1.0.0.0</version>
        </Heb_Customerform>
    </modules>
    <global> 
        <blocks>
            <customerform>
                <class>Heb_Customerform_Block</class>
            </customerform>
        </blocks>
        <models>
            <customerform>
                <class>Heb_Customerform_Model</class>
                <resourceModel>customerform_resource</resourceModel>
            </customerform>
            <customerform_resource>
                <class>Heb_Customerform_Model_Resource</class>
                <deprecatedNode>customerform_mysql4</deprecatedNode>
                <entities>
                    <hebcustomer_info>
                        <table>heb_customer_info</table>
                    </hebcustomer_info>                                      
                </entities>
            </customerform_resource>
        </models>
        <resources>
            <customerform_setup>
                <setup>
                    <module>Heb_Customerform</module>
                    <class>Heb_Customerform_Model_Resource_Setup</class>
                </setup>
            </customerform_setup>
        </resources>
    </global>
    <frontend>
        <routers>
            <customerform>
                <use>standard</use>
                <args>
                    <module>Heb_Customerform</module>
                    <frontName>customerform</frontName>
                </args>
            </customerform>
        </routers>
        <layout>
            <updates>
                <customerform module="Heb_Customerform">
                    <file>hebcustomer.xml</file>
                </customerform>
            </updates> 
        </layout>
    </frontend>
    <adminhtml>
        <layout>
            <updates>
                <customerform module="Heb_Customerform">
                    <file>hebcustomer.xml</file>
                </customerform>
            </updates>
        </layout>
        <events>
            <customer_save_before>
                <observers>
                    <heb_customerform>
                        <class>heb_customerform_model_adminhtml_observer</class>
                        <method>saveFormulario</method>
                    </heb_customerform>
                </observers>
            </customer_save_before>
        </events>       
    </adminhtml>
    <default>
        
    </default>
</config>
